# exclude /src/**/*.js
/src/**/*.js
/src/**/*.map
/src/**/*.ngstyle.ts
/src/**/*.ngfactory.js
/src/**/*.ngfactory.ts
/src/**/*.ngsummary.json
/src/**/*.d.ts
/example/**/*.js
/node_modules/**/*
/dist/**/*
.idea/